USE [master]
GO
/****** Object:  Database [winform]    Script Date: 5/11/2024 5:23:12 PM ******/
CREATE DATABASE [winform]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'winform', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\winform.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'winform_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\winform_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [winform].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [winform]
GO
/****** Object:  Table [dbo].[book]    Script Date: 5/11/2024 5:23:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book](
	[CustomerName] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[RoomType] [nvarchar](50) NOT NULL,
	[Duration] [nvarchar](50) NOT NULL,
	[TotalCost] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login]    Script Date: 5/11/2024 5:23:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[email] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[room]    Script Date: 5/11/2024 5:23:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room](
	[RoomNumber] [nvarchar](50) NOT NULL,
	[RoomType] [nvarchar](50) NOT NULL,
	[RoomStatus] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
